/* section main
==================================================*/
.text-blue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffb85c;
    font-size: 80px;
}

.bg-sec {
    background: #4b12a7;
    max-width: 100%;

}

.main-area {
    padding: 300px 0 200px;
    position: relative; 
}

.ilustra_3 .glyphicon {
    position: relative;
    top: 100px;
    left: 50%;
    font-size: 25px;
    color: #ffb85c;
}

/* section do produto
==================================================*/
.special_description_img {
    margin-top: 40px;
}

.special_description_content {
    margin-top: 60px;
}

.special_description_content>h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #140742;
    font-size: 42px;
    margin-bottom: 30px;
}

.texto_produto {
    color: #726a84;
    font-weight: 300;
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}


/* descrição do produto
==================================================*/
.section_descricao {
    margin-top: 60px;
    margin-bottom: 80px;
}

.section-heading {
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #140742;
    font-size: 42px;
}

.single-feature>h5 {
    color: #726a84;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.single-feature {
    color: #726a84;
    font-weight: 300;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}