
/* navbar
==================================================*/
.navbar-nav .nav-link {
    text-align: center;
}

.colornav {
    background-color: rgb(255, 255, 255);
}

#texto_nav1 {
    color: #140742;
}

#texto_nav2 {
    color: #140742;
}

#nav_botao .navbar-toggler {
    background-color: #140742;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #140742;
    font-weight: bold
}

/* section main
==================================================*/
.texto_home1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(53, 255, 104);
}

.fundo_cor1 {
    background-color: #140742;
    padding-top: 150px;
    width: 100%;
    height: 600px;
}

.font-secondary {
    color: #726a84;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    line-height: 1.8;
}

.texto_link {
    color: rgb(53, 255, 104);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

#section_portfolio {
    margin-top: 40px;
    margin-bottom: 60px;
}

/* rodapé
==================================================*/
.container_rodape {
    padding: 30px 0;
    text-align: center;
    background: #140742;
}

.copyright {
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}
