/* section main
==================================================*/
.text-blue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(13, 106, 228);
    font-size: 80px;
}

.bg-sec {
    background: #ffb85c;

}

.main-area {
    padding: 300px 0 200px;
    position: relative; 
}

.ilustra_2 .glyphicon {
    position: relative;
    top: 100px;
    left: 50%;
    font-size: 25px;
    color: rgb(13, 106, 228);
}

/* imagem do perfil
==================================================*/
.drag-lg-top {
    margin-top: 20px;
}

.shadow-down {
    position: relative;
}

.border-thick {
    border: 10px solid;
}

.rounded-lg {
    border-radius: 15px;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.border-white {
    border-color: #ffb85c!important;
}

/* texto do perfil
==================================================*/
#font-perfil h4 {
    color: #726a84;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

#font-perfil {
    color: #726a84;
    font-weight: 300;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* texto da section hobbies
==================================================*/
#font_hobbies h4 {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #140742;
    font-size: 30px;
}

#hobbies_bruno {
    padding-top: 80px;
    padding-bottom: 40px;
}

.font-secondary {
    color: #726a84;
    font-weight: 300;
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* imagens da section hobbies
==================================================*/
.hobbies_bruno .row {
    background: #15ccec;
}

.card-img-top {
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    background-color: #f0f0f0;
    min-width: 0;
    flex-direction: column;
    padding: 10px;
}

.col-md-4 {
    padding: 40px;
}

